@model kairh_admin.Models.negocio

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>negocio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idnegocio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idnegocio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.colonia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.colonia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.domingoFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.domingoFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.domingoInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.domingoInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.domingock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.domingock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.especialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.especialidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estrellas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estrellas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.juevesFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.juevesFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.juevesInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.juevesInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.latitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.latitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.longitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.longitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lunesFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lunesFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lunesInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lunesInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lunesck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lunesck)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.martesFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.martesFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.martesInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.martesInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.martesck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.martesck)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.miercolesFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.miercolesFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.miercolesInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.miercolesInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.miercolesck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.miercolesck)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.municipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.municipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreComercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreComercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.profileImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.profileImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.razonSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.razonSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rfc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rfc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sabadoFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sabadoFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sabadoInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sabadoInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sabadock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sabadock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.viajes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.viajes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.viernesFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.viernesFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.viernesInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.viernesInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.viernesck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.viernesck)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
