@model kairh_admin.Models.repartidor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>repartidor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idrepartidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idrepartidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
